@font-face {
  font-family: 'InstaFont';
  src: 
      local('Insta Font'),
      local('Insta-Font'),
      url(fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf) 
      format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.login-div{
  width: 430px;
  height: 700px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: rgb(236, 240, 243);
  box-shadow: 13px 13px 20px rgb(203, 206, 209),
              -13px -13px 20px rgb(255, 255, 255);
              position:relative;
}

/*
  .logo{
  background: url("images/logo.png") center;
  background-size: 100px 100px;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 
    5px 5px 15px rgb(167, 170, 175),
    -8px -8px 15px rgb(255, 255, 255)
    ;
  }
*/

.title{
text-align: center;
color: rgb(56, 66, 83);
font-size: 4rem;
padding-top: 1rem;
font-family: 'InstaFont';

  /* picture
  background: url("/images/logo-text.png");
  background-size: 175px 51px;
  width: 175px; height: 51px;
  filter: drop-shadow(5px 5px 10px #a7aaaf);
  */
}

.fields{
  padding: 75px 5px 5px 5px;
  margin: 0px 30px;
}

.fields input{
  width: 80%;
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  color: rgb(85, 85, 85);
  padding: 20px 10px 20px 20px;
  color: rgba(85, 85, 85, 0.356);
}

.username, .password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px rgba(203, 206, 209, 0.5),
                inset -8px -8px 8px rgba(255, 255, 255, 0.5);
}

.signin{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0px 50px;
    
}

.signin-btn{
  display: flex;
  align-content: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  width: 90%;
  height: 60px;
  border-radius: 30px;
  padding-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: rgb(253, 253, 253);
  background: #24cfaa;
  box-shadow: 3px 3px 8px rgb(177, 177, 177),
              -3px -3px 8px rgb(255, 255, 255);
  transition: .5s;
}

.signin-btn:hover{
  background: #2fdbb6;
}

.signin-btn:active{
  background: #1da88a;
}